body{
  font-family: Arial;
  padding:20px;
}

table{
  width:100%;
  border-collapse: collapse;
}

th,td{
  border:1px solid #ddd;
  padding:8px;
  text-align:center;
}

th{
  background:#0f172a;
  color:white;
}

button{
  padding:6px 12px;
  background:#2563eb;
  color:white;
  border:none;
  cursor:pointer;
}

button:hover{
  background:#1e40af;
}

.toolbar{
  margin-bottom:15px;
}