.page {
  padding: 20px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

h2 {
  margin: 0;
}

.add-btn {
  background: #16a34a;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

th, td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
  font-size: 13px;
}

th {
  background: #020617;
  color: #facc15;
}

input, select {
  width: 100%;
  padding: 4px;
  font-size: 12px;
}

input:disabled,
select:disabled {
  background: #f1f1f1;
}

.day-select {
  background: #fff7cc;
}

.action-btn {
  padding: 4px 8px;
  margin: 1px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.edit { background: #2563eb; color: #fff; }
.save { background: #16a34a; color: #fff; }
.delete { background: #dc2626; color: #fff; }

/* ===== DAY STATES ===== */
.day-box{
  transition:0.2s;
  cursor:pointer;
}

/* OFF */
.day-off{
  background:#e5e7eb; /* رمادي */
  border-color:#d1d5db;
}

/* ON */
.day-on{
  background:#22c55e; /* أخضر */
  border-color:#15803d;
  color:#000;
}

/* TODAY */
.day-today{
  outline:3px solid #2563eb; /* أزرق */
}