.sidebar {
  width: 220px;
  background: #111827;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  color: #facc15;
}

.sidebar a {
  display: block;
  color: #d1d5db;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 6px;
}

.sidebar a:hover {
  background: #1f2937;
  color: white;
}

.sidebar button {
  width: 100%;
  padding: 8px;
  background: #ef4444;
  color: white;
  border: none;
  cursor: pointer;
}